.header {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    padding-top: 2em;
    padding-bottom: 2em;
    
    background-color: red;
}

.headerElement {
    font-size: x-large;
    align-self: center;
    width: 10%;
}

.headerElementName {
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 0.05em;
    align-self: center;
    width: 10%;
}

.headerElement:hover {
    background-color: blue;
}

.headerSectionContainer {
    display: flex;
    justify-content: space-evenly;
    background-color: wheat;
}

.headerSection {
    background-color: darkkhaki;
    padding-inline: 1em;
    display: flex;
    flex-direction: row;
}

.headerSectionName {
    font-size: large;
}

.headerSectionIcon {
    align-self: center;
    margin-right: 0.25em;
}

.headerLinkContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: deeppink;
}

/* .headerLink {
    
} */

.sectionTitle {
    background-color:violet;
    font-size: xxx-large;
    text-align: center;
    padding: 0.25em;
}

.about {
    display: flex;
    background-color: aquamarine;
    padding: 2em;
    justify-content: center;
}

.aboutContainer {
    width: 50%;
    background-color: blueviolet;
}

.aboutHeader {
    background-color: gold;
    font-size: 5em;
    text-align: center;
    margin-bottom: 0.25em;
}

.aboutBody {
    padding-bottom: 0.5em;
    background-color: bisque;
    text-align: center;
    font-size: xx-large;
}

.projects {
    background-color: cornsilk;
    justify-content: center;
    display: flex;
}

.projectsList {
    list-style-type: none;
    background-color: lightpink;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.projectElement {
    padding-bottom: 1em;
    margin-bottom: 5em;
    background-color:lavender;
}

.projectTitle {
    font-size: x-large;
    text-align: center;
    margin-bottom: 0.5em;
}

.projectBody {
    display: flex;
    justify-content: space-evenly;
}

.education {
    background-color: cornsilk;
    justify-content: center;
    display: flex;
}

.educationElement {
    margin-bottom: 3em;
    background-color:lavender;
    padding-bottom: 1em;
}

.educationList {
    list-style-type: none;
    background-color: lightpink;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.educationTitle {
    font-size: x-large;
    text-align: center;
    margin-bottom: 0.5em;
}

.educationBody {
    display: flex;
    justify-content: space-evenly;
}

.educationDetails {
    display: flex;
    font-size: large;
    align-self: center;
    width: 40%;
}

.skills {
    background-color: cornsilk;
    justify-content: center;
    display: flex;
}

.skillElement {
    margin-top: 3em;
    margin-bottom: 3em;
    background-color:lavender;
    padding: 0.5em;
    width: 15%;
}

.skillsList {
    list-style-type: none;
    background-color: lightpink;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0;
}

.skillTitle {
    font-size: x-large;
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.skillImage {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    padding: 2em;
    
    background-color: red;
}

a:link { 
    text-decoration: none; 
    color: black;
}
a:visited { 
    text-decoration: none;
    color: black; 
}
a:hover { 
    text-decoration: none; 
}
a:active {
    text-decoration: none; 
}