.header {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    padding: 2em;
    
    background-color: red;
}
.headerElement {
    font-size: x-large;
    align-self: center;
}

.headerElement:hover {
    background-color: blue;
}

.headerSectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.headerSection {
    background-color: darkkhaki;
    padding-inline: 0.5em;
}

.headerLinkContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.headerLink {
    background-color: deeppink;
}

.about {
    display: flex;
    background-color: aquamarine;
    padding-top: 1em;
    justify-content: center;
}

.aboutContainer {
    width: 30%;
    background-color: blueviolet;
}

.aboutHeader {
    background-color: gold;
    font-size: xx-large;
    text-align: center;
    padding-bottom: 0.5em;
}

.aboutBody {
    padding-bottom: 0.5em;
    background-color: bisque;
    text-align: center;
}

.projects {
    background-color: cornsilk;
    justify-content: center;
    display: flex;
}

.projectsList {
    list-style-type: none;
    background-color: lightpink;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.projectElement {
    margin-bottom: 5em;
    background-color:lavender;
}

.projectTitle {
    font-size: x-large;
    text-align: center;
    margin-bottom: 0.5em;
}

.projectBody {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a:link { 
    text-decoration: none; 
    color: black;
}
a:visited { 
    text-decoration: none;
    color: black; 
}
a:hover { 
    text-decoration: none; 
}
a:active {
    text-decoration: none; 
}